.Container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 50px ;
  width: 30%;
  height: 100vh;
  border-right: 1px solid lightgrey;
  margin: 0;
}
h1{
  margin: 0;
}
.Top{
  height: 150px;
}
.Middle{
 height: 800px;
  margin: auto;
}